body {
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ede5d3;
    margin: 0;
}

#quote-text {
    font-size: 20px;
    margin-bottom: 20px;
    font-style: regular;
}

#author {
    font-style: italic;
    font-weight: regular;
    font-size: 15px;
    margin-top: 20px;
}

#new-quote {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#new-quote:hover {
    background-color: #2980b9;
}
